@import ontoplay.models.ontologyModel.OntoClass
@import play.data.Form
@import ontoplay.views.html._

@(title: String)(otherHeader: Html)(content: Html)

@main(title)(otherHeader) {
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="@ontoplay.controllers.configuration.routes.UploadController.showUploadPage()">Upload ontology</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@ontoplay.controllers.routes.Operations.addClassMappingReact("urn:oasis:names:tc:xacml:1.0:subject-category:access-subject")">Map request subject</a></li>
                <li><a href="@ontoplay.controllers.routes.Operations.addClassMappingReact("urn:oasis:names:tc:xacml:3.0:attribute-category:resource")">Map request resource</a></li>
                <li><a href="@ontoplay.controllers.routes.Operations.addClassMappingReact("urn:oasis:names:tc:xacml:3.0:attribute-category:action")">Map request action</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@ontoplay.controllers.routes.Operations.addClassExpressionReact("urn:oasis:names:tc:xacml:1.0:subject-category:access-subject")">Create subject group</a></li>
                <li><a href="@ontoplay.controllers.routes.Operations.addClassExpressionReact("urn:oasis:names:tc:xacml:3.0:attribute-category:resource")">Create resource group</a></li>
                <li><a href="@ontoplay.controllers.routes.Operations.addReact("http://www.w3.org/2002/07/owl#Thing")">Create an individual</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@routes.AdminController.testRequest()">Test request</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            @content
        </div>
    </div>
</div>
}