@import ontoplay.models.ontologyModel.OntoClass
@import play.data.Form
@import ontoplay.views.html._

@()

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("SXACML Administration") {
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="@ontoplay.controllers.configuration.routes.UploadController.showUploadPage()">Upload ontology</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@ontoplay.controllers.routes.Operations.addClassMapping("urn:oasis:names:tc:xacml:1.0:subject-category:access-subject")">Map request subject</a></li>
                <li><a href="@ontoplay.controllers.routes.Operations.addClassMapping("urn:oasis:names:tc:xacml:3.0:attribute-category:resource")">Map request resource</a></li>
                <li><a href="@ontoplay.controllers.routes.Operations.addClassMapping("urn:oasis:names:tc:xacml:3.0:attribute-category:action")">Map request action</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@ontoplay.controllers.routes.Operations.addClassExpression("urn:oasis:names:tc:xacml:1.0:subject-category:access-subject")">Create subject group</a></li>
                <li><a href="@ontoplay.controllers.routes.Operations.addClassExpression("urn:oasis:names:tc:xacml:3.0:attribute-category:resource")">Create resource group</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        </div>
    </div>
</div>
}